# ==============================================================
# Clojure
# ==============================================================

/target/
/.clj-kondo/.cache/
*.nrepl-port
.lein-repl-history

# ==============================================================
# Intellij IDEA
# ==============================================================

/.idea/
*.iml

# ==============================================================
# Emacs
# ==============================================================

.projectile

# ==============================================================
# Common
# ==============================================================

*.DS_Store
