{:linters
 {:unsorted-required-namespaces {:level :warning}}

 :lint-as
 {defun.core/defun- clojure.core/defn-
  defun.core/defun clojure.core/defn
  otplike.process/proc-defn- clojure.core/defn-
  otplike.process/proc-defn clojure.core/defn}}
